{% extends 'base.html' %}
{% load static %}
<link href="{% static 'css/blog-post.css' %}" rel="stylesheet">
{% block content %}

<div class="container">

    <div class="row">

        <div class="col-lg-8">

            <h1 class="mt-4">{{ post.headline }}</h1>


            <hr>

            <p>{{ post.created_at }}</p>

            <hr>

            <img class="img-fluid rounded" src="{{ post.pic_src_link }}" alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead">{{post.body}}</p>

            <hr>
        </div>
    </div>
</div>
{% endblock %}